.card-datatable {
    height: 500px !important;
}


td {
    white-space: nowrap !important;
    max-width: 100% !important;
}

tr {
    white-space: nowrap !important;
    max-width: 100% !important;
}


.btn {
    white-space: nowrap;
}


.delete {
    display: inline-flex !important;

}

.delete-style {
    width: 137px !important;
    height: 39px !important;
}

.iti--allow-dropdown input, .iti--allow-dropdown input[type=text], .iti--allow-dropdown input[type=tel], .iti--separate-dial-code input, .iti--separate-dial-code input[type=text], .iti--separate-dial-code input[type=tel] {
    padding-right: 100px !important;
}


.iti--separate-dial-code .iti__selected-flag {
    background-color: transparent !important;
}

.iti__flag-container {
    bottom: unset !important;
    top: 8px !important;
}


.main-menu.menu-light .navigation > li.active > a {
    background: linear-gradient(118deg,#e1b83f,rgba(225,184,65,63)); !important;
}
.main-menu.menu-light .navigation > li .active > a {
    background: linear-gradient(118deg, #e1b83f, rgba(225, 184, 65,63)) !important;
}






.form-switch .form-check-label .switch-text-left i, .form-switch .form-check-label .switch-text-left svg, .form-switch .form-check-label .switch-text-right i, .form-switch .form-check-label .switch-text-right svg, .form-switch .form-check-label .switch-icon-left i, .form-switch .form-check-label .switch-icon-left svg, .form-switch .form-check-label .switch-icon-right i, .form-switch .form-check-label .switch-icon-right svg {
    height: 13px;
    width: 13px;
    margin-top: 6px;
    font-size: 13px;
}


.input-box {
    display: flex;
    align-items: center;
    max-width: 300px;
    background: #fff;
    border: 1px solid #a0a0a0;
    border-radius: 4px;
    padding-left: 0.5rem;
    overflow: hidden;
    font-family: sans-serif;
}

.input-box .prefix {
    font-weight: 300;
    font-size: 14px;
    color: #999;
}

.input-box input {
    flex-grow: 1;
    font-size: 14px;
    background: #fff;
    border: none;
    outline: none;
    padding: 0.5rem;
}

.input-box:focus-within {
    border-color: #777;
}


.tag {
    padding: 5px;
    background: #05d8ff;
    border: deepskyblue 1px solid;
    border-radius: 5px;
}

#inputText {
    border: none;
    background: none;
}

#container {
    background: white;
    padding: 10px;
}
