@media (max-width: 1199.98px) {
    .main-header .sticky .sticky-area {
        background-color: #151517 !important;
    }
    .main-header .sticky .navbar-nav > .nav-item > .nav-link, .main-header .sticky .navbar-toggler {
        color: #e1b83f;
    }
}
@media (max-width: 767.98px) {
    
    html, body{
        overflow-x: hidden;
    }
    
    .visualmenu{
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }
    
    .visualmenu div{
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }
    
    .cat-opt2 img{
       min-height: 232px; 
    }
    
    .cat-circ .slick-arrow {
        top: 40%;
    }
    
    .banner-04 .card-img{
        height: 420px;
    }
    
    .about-middle{
            position: relative;
    top: unset;
    left: unset;
    transform: unset;
    z-index: 9;
    color: #414141;
    }
    
    .who-fixed{
        height: 55vh;
         background-attachment: unset;
         background-position: center;
         background-size: 100%;
         background-repeat: no-repeat;
    }
    
    .factory-ls > div{
        display: block!important;
    }
    
    .bg-factory{
        display: none;
    }
    
    .hww-box{
        min-height: auto;
        flex-flow: row;
        justify-content: space-between;
    }
    
    .hww-box h3 br{
        display: none;
    }
    
    .process-line{
        display: none;
    }
    
    .story-section{
        padding-top: 10px;
    }
    
    .story-block{
        padding-top: 0px;
    }
    
    .story-block .inner-box .image-column .inner-column{
        padding-top: 15px;
    }
    
    .story-block .inner-box .content-column .inner-column, .story-block-two .inner-box .content-column .inner-column{
        padding: 20px 20px 20px;
        margin-right: 0px;
        margin-left: 0px;
    }
    
    .story-block .inner-box .content-column .inner-column .text p, .story-block-two .inner-box .content-column .inner-column .text p{
        margin-bottom: 0px;
    }
    
    .story-block-two{
        padding-top: 0px;
        margin-bottom: 20px;
    }
    
    .story-block-two .inner-box .content-column .sec-title{
        text-align: left;
    }
    
    .gallery-product-page-02{
        height: auto!important;
    }
    
    .gallery-product-page-02 .product-details{
        position: relative;
        top: unset;
        left: unset;
        -webkit-transform: unset;
        transform: unset;
        padding-top: 100px;
    }
    
    .project-pn{
        background: #f3f3f9;
        padding: 15px!important;
    }
    
    .project-pn .w-215px{
        width: 125px!important;
    }
    
    .nav.nav-pills .nav-item{
        margin-bottom: 15px;
    }
    
}