:root {
    --main-color: #292929;
    --second-color: #cca43b;
    --hover-color: #505050;
    --section-color: #ffffff;
    --dark-blue: #1F4490;
    --main-padding: 50px;
    --transition: 0.5s;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: unset !important;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--section-color);
}

body.ar {
    direction: rtl;
    font-family: 'Tajawal', sans-serif;
}

body.ar .owl-carousel {
    direction: ltr;
}

body.ar .offcanvas {
    visibility: inherit;
}

.main-title {
    margin: 15px 0;
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 600;
    animation: lights 5s 750ms linear infinite;
}

@media (max-width: 768px) {
    .main-title {
        font-size: 26px;
    }
}

@media (max-width: 578px) {
    .main-title {
        font-size: 22px;
    }
}

@keyframes lights {
    0% {
        color: #cca43b;
        text-shadow: 0 0 1em #ae9a65 0 0 0.125em #ae9a65a2, -1em -0.125em 0.5em hsla(40, 75%, 41%, 0.34), 1em 0.125em 0.5em hsla(40, 75%, 41%, 0);
    }
    30% {
        color: #cca43b;
        text-shadow: 0 0 1em #8f8f8f, 0 0 0.125em #8f8f8f80, -0.5em -0.125em 0.25em hsla(30, 8%, 95%, 0.512), 0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0);
    }
    40% {
        color: #cca43b;
        text-shadow: 0 0 1em #9d9d9d, 0 0 0.125em #9d9d9d59, -0.25em -0.125em 0.125em hsla(0, 0%, 100%, 0.534), 0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0);
    }
    70% {
        color: #cca43b;
        text-shadow: 0 0 1em #292929, 0 0 0.125em #2929296c, 0.5em -0.125em 0.25em hsla(40, 75%, 41%, 0.511), -0.5em 0.125em 0.25em hsla(40, 75%, 41%, 0);
    }
    100% {
        color: #cca43b;
        text-shadow: 0 0 1em #ffffff, 0 0 0.125em #ffffff67, 1em -0.125em 0.5em hsla(40, 75%, 41%, 0.34), -1em 0.125em 0.5em hsla(40, 75%, 41%, 0);
    }
}


/* start navbar */

@keyframes nav {
    0% {
        top: -100px;
    }
    100% {
        top: 0px;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

header .fixed-top {
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 11%) 0px 0px 13px;
    animation-duration: 0.8s;
    animation-timing-function: cubic-bezier(0.63, 0.29, 0.12, 0.91);
    animation-name: nav;
    position: fixed;
    border-bottom: 0px;
}

header {
    position: absolute;
    width: calc(100% - 40px);
    left: 20px;
    border-radius: 12px;
    z-index: 2;
    background-color: rgb(255 255 255 / 70%);
    margin-top: 15px;
}

header.relative {
    position: relative;
    width: 100%;
    left: 0;
    border-radius: 0;
    background-color: #fff;
    margin-top: 0;
    box-shadow: rgb(0 0 0 / 11%) 0px 0px 13px;
}

header .logo {
    width: 100px;
}

header .logo img {
    width: 100%;
    height: auto;
}

.offcanvas {
    background-color: rgb(255 255 255 / 95%);
}

#nav-container nav .navbar-toggler {
    order: 1;
    border: 0;
    color: var(--main-color);
}

#nav-container .offcanvas .offcanvas-header .close {
    color: var(--main-color) !important;
    background-color: transparent !important;
    border: 0;
    font-size: 24px;
}

#nav-container nav .navbar-toggler:focus,
#nav-container .offcanvas .offcanvas-header .close:focus {
    box-shadow: none;
}

#nav-container .navbar-nav .nav-link {
    margin-inline-end: 20px;
    color: var(--main-color);
    position: relative;
}

#nav-container .navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: var(--second-color);
    transform: translateX(-50%);
    transition: var(--transition);
}

#nav-container .navbar-nav .nav-link:hover,
#nav-container .navbar-nav .nav-link.active{
    color: var(--second-color);
}

#nav-container .navbar-nav .nav-link:hover::before ,
#nav-container .navbar-nav .nav-link.active::before {
    width: 100%;
}

#nav-container nav .contact {
    display: block;
    color: var(--main-color);
    background-color: transparent;
    border: 1px solid var(--main-color);
    padding: 6px 20px;
    border-radius: 10px;
    transition: var(--transition);
}

#nav-container nav .contact:hover {
    color: #fff;
    background-color: var(--second-color);
}

#nav-container nav .lang {
    background: transparent;
    color: var(--main-color);
    border: 0;
    display: flex;
    align-items: center;
    margin-inline-end: 12px;
}

#nav-container nav .lang span {
    margin-inline-end: 6px;
}

@media (max-width: 767px) {
    #nav-container nav .lang {
        margin-inline: auto 15px;
    }
    #nav-container .navbar-nav .nav-item {
        opacity: 0;
    }
}

@media (max-width: 577px) {
    header .logo {
        width: 60px;
    }
    #nav-container nav .contact {
        padding: 6px;
    }
}


/* end navbar */


/* strat landing */

.landing,
.landing .owl-carousel,
.landing .owl-stage-outer,
.landing .owl-stage {
    position: relative;
    width: 100%;
    height: 100vh;
}

.landing .owl-dots {
    position: absolute;
    bottom: 22px;
    left: 30px;
}

.landing .item img {
    width: 100%;
    object-fit: cover;
    object-position: 50% 0;
    height: 100%;
}

.landing .owl-item,
.landing .item {
    width: 100%;
    height: 100%;
}

.landing .item {
    position: relative;
}

.landing .item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.35);
}

body.ar .landing .item .text {
    direction: rtl;
}

.landing .item .text {
    position: absolute;
    left: 0;
    top: 40%;
    transform: translate(0, -40%);
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 50%;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}

.landing .item .text .title {
    color: var(--second-color);
    margin: 30px 0;
    font-size: 32px;
    font-weight: 700;
    width: 90%;
    line-height: 1.4;
}

.landing .item .text p {
    font-size: 14px;
}

.landing .item .text p {
    color: #292929;
    line-height: 1.8;
    font-size: 16px;
}

.landing .owl-dots .owl-dot .indacator {
    margin: 0 20px;
    padding: 10px;
    color: rgba(255, 255, 255, 0.68);
    border-bottom: 2px solid rgba(255, 255, 255, 0.68);
    cursor: pointer;
}

.landing .owl-dots .owl-dot.active .indacator {
    color: var(--second-color);
    border-bottom: 2px solid var(--second-color);
}

@media (max-width: 768px) {
    .landing .item .text {
        width: 75%;
    }
}

@media (max-width: 578px) {
    .landing .item .text {
        width: 100%;
        border-radius: 0;
    }
}


/* end landing */


/* start why-turkey */

.why-turkey {
    padding-block: var(--main-padding);
}

.why-turkey .image {
    width: 100%;
    height: 500px;
}

.why-turkey .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.why-turkey .text {
    color: var(--main-color);
    line-height: 1.8;
}

.why-turkey .features {
    padding-block: 10px;
}

.why-turkey .features .feature {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.why-turkey .features .feature .icon {
    width: 100px;
    height: 100px;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 0 0 15px 0 rgb(255 255 255 / 20%);
}

.why-turkey .features .feature .name {
    text-align: center;
    color: var(--main-color);
    font-weight: 700;
    margin-block: 15px;
}

@media (max-width: 768px) {
    .why-turkey .image {
        margin-bottom: 20px;
    }
}


/* end why-turkey */


/* start Why real estate investment */

.Why-estate {
    padding-block: var(--main-padding);
}

.Why-estate p {
    margin-block: 20px;
    color: var(--main-color);
    line-height: 1.8;
}


/* end Why real estate investment */


/* start be partner */

.be-partner {
    padding-block: var(--main-padding);
}

.be-partner .text {
    color: var(--main-color);
    line-height: 1.8;
}

.be-partner .image {
    width: 100%;
    height: 150px;
    border-radius: 6px;
    box-shadow: 0 0 10px 0 rgb(255 255 255 / 30%);
    overflow: hidden;
}

.be-partner .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* end be partner */


/* start build own house */

.build-own-house {
    padding-block: var(--main-padding);
}

.build-own-house .text {
    color: var(--main-color);
    line-height: 1.8;
}

.build-own-house .contact {
    display: block;
    width: 30%;
    background-color: transparent;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    color: var(--main-color);
    border: 4px solid var(--second-color);
    margin: 10px auto;
    transition: var(--transition);
}

.build-own-house .contact:hover {
    background-color: var(--second-color);
    color: var(--main-color);
}

@media (max-width: 578px) {
    .build-own-house .contact {
        width: 50%;
    }
}


/* end build own house */


/* start offers */

.offers {
    padding-block: var(--main-padding);
}

.offers .offer-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-block: 30px;
}

.offers .offer-box .offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}

.offers .offer-box .offer:hover {
    transform: scale(1.1);
}

.offers .offer-box .offer .image {
    width: 200px;
    height: 150px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 10px 1px rgb(255 255 255 / 30%);
}

.offers .offer-box .offer .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.offers .offer-box .offer h5 {
    color: var(--main-color);
    font-weight: 700;
    margin-block: 15px;
    text-transform: capitalize;
    transition: var(--transition);
}

.offers .offer-box .offer:hover h5 {
    color: var(--second-color);
}


/* end offers */


/* start services */

.services {
    padding-block: var(--main-padding);
}

.services .card-item {
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 0 15px 1px rgb(0 0 0 / 20%);
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.services .card-item .image {
    width: 100%;
    height: 150px;
}

.services .card-item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services .card-item .title {
    font-weight: bold;
    text-align: center;
    margin-block: 20px;
}

.services .card-item .description {
    color: var(--hover-color);
    line-height: 1.6;
}

.services .card-item .read-more {
    padding: 10px;
    background-color: var(--second-color);
    color: var(--main-color);
    text-transform: capitalize;
    border-radius: 8px;
    border: 1px solid var(--second-color);
    margin-inline: auto;
    display: block;
    margin-block-start: auto;
    box-shadow: 0 2px 10px 2px rgb(0 0 0 / 30%);
    opacity: 1;
    transition: var(--transition);
}

.services .card-item .read-more:hover {
    opacity: 0.7;
}

.services .modal .modal-body .image {
    width: 100%;
    height: auto;
    margin-block: 20px;
}

.services .modal .modal-body .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* end services */


/* strat footer */

footer {
    background-color: var(--main-color);
    padding-block: var(--main-padding);
    box-shadow: 0 -10px 15px 1px rgb(0 0 0 / 30%);
}

footer .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .content .logo {
    width: 150px;
}

footer .content .logo img {
    width: 100%;
    height: auto;
}

footer .content .links .social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 20px;
}

footer .content .links .social .link {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #fff;
    margin-inline-end: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}


/* footer .content .links .social .link.face {
    background-color: #3B5998;
}

footer .content .links .social .link.twitter {
    background-color: #1DA1F2;
}

footer .content .links .social .link.instagram {
    background-color: #EA4C89;
} */

footer .content .links .social .link:hover {
    background-color: var(--main-color);
}

footer .content .links .social .link svg path {
    transition: var(--transition);
}

footer .content .links .social .link:hover svg path {
    fill: var(--hover-color);
}

footer .content .links .a {
    margin-block: 10px;
    display: block;
    color: #fff;
}

footer .content .links .a:hover {
    color: var(--second-color);
}

@media (max-width: 577px) {
    footer .content {
        flex-direction: column;
    }
    footer .content .links {
        margin-top: 25px;
    }
    footer .content .links .social {
        margin-top: 20px;
    }
}


/* end footer */


/* start projects page */


/* start landing */

.projects-landing {
    padding-block: 30px;
}

.projects-landing .title {
    color: var(--main-color);
    text-align: center;
    width: 80%;
    margin-inline: auto;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
}

.projects-landing .image {
    width: 100%;
    height: 60vh;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 30%);
}

.projects-landing .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .projects-landing .image {
        margin-bottom: 20px;
    }
}


/* end landing */


/* start projects done */

.projects {
    padding-inline: 60px;
    padding-block: 50px;
    position: relative;
}

.projects .card-box {
    border-radius: 15px;
    background-color: #F8F8F8;
    margin-bottom: 20px;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 12%);
}

.projects .card-box .image {
    width: 100%;
    height: 220px;
}

.projects .card-box .image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.projects .card-box .card-content {
    padding: 15px;
}

.projects .card-box .card-content .name {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
    margin-block: 20px;
    color: var(--main-color);
}

.projects .card-box .card-content .description {
    line-height: 1.8;
    color: var(--main-color);
}

.projects .card-box .card-content .more-info {
    display: block;
    margin-inline: auto;
    background: var(--second-color);
    padding: 5px 10px;
    text-align: center;
    color: #fff;
    border-radius: 8px;
    width: 160px;
    border: 2px solid var(--second-color);
    transition: var(--transition);
}

.projects .card-box .card-content .more-info:hover {
    background-color: #fff;
    color: var(--second-color);
}

.projects .owl-carousel .owl-nav button.owl-prev,
.projects .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 35%;
    border: 1px solid var(--second-color);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    transition: var(--transition);
}

.projects .owl-carousel .owl-nav button.owl-prev:hover,
.projects .owl-carousel .owl-nav button.owl-next:hover {
    background-color: var(--second-color);
}

.projects .owl-carousel .owl-nav button.owl-prev svg rect,
.projects .owl-carousel .owl-nav button.owl-next svg rect,
.projects .owl-carousel .owl-nav button.owl-prev svg path,
.projects .owl-carousel .owl-nav button.owl-next svg path {
    transition: var(--transition);
}

.projects .owl-carousel .owl-nav button.owl-prev:hover svg rect,
.projects .owl-carousel .owl-nav button.owl-next:hover svg rect {
    fill: var(--section-color);
    stroke: var(--section-color);
}

.projects .owl-carousel .owl-nav button.owl-prev:hover svg path,
.projects .owl-carousel .owl-nav button.owl-next:hover svg path {
    stroke: var(--section-color);
}

.projects .owl-carousel .owl-nav button.owl-prev {
    left: -70px;
}

.projects .owl-carousel .owl-nav button.owl-next {
    right: -70px;
}

.projects .owl-theme .owl-dots .owl-dot span {
    background-color: #cca33bb1;
    width: 30px;
    height: 6px;
    border-radius: 0;
}

.projects .owl-theme .owl-dots .owl-dot.active span {
    background-color: var(--second-color);
}

@media (max-width: 768px) {
    .new-platform .owl-carousel .item,
    .special-courses .owl-carousel .item {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .new-platform .card-box,
    .special-courses .card-box {
        width: 350px;
    }
}

@media (max-width: 578px) {
    .projects-done {
        padding-inline: 40px;
    }
    .projects .owl-carousel .owl-nav button.owl-prev,
    .projects .owl-carousel .owl-nav button.owl-next {
        width: 35px;
        height: 35px;
    }
    .projects .owl-carousel .owl-nav button.owl-prev {
        left: -44px;
    }
    .projects .owl-carousel .owl-nav button.owl-next {
        right: -44px;
    }
}


/* end projects done */


/* start projects pending */

.projects-pending .location {
    display: flex;
    align-items: center;
    color: var(--second-color);
    margin-bottom: 20px;
}

.projects-pending .location .icon {
    margin-inline-end: 8px;
}

.projects-pending .location>h6 {
    margin-bottom: 0;
    text-transform: capitalize;
}


/* end projects pending */


/* end projects page */


/* start project info page */


/* start project info */

.project-info {
    padding-block: 50px;
}

#sync1 .item {
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    margin: 5px;
}

.project-info #sync1 img {
    width: 100%;
    height: auto;
}

#sync2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#sync2 .item {
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    margin-top: 18px;
    margin-inline-end: 15px;
}

.project-info #sync2 .item img {
    width: 100%;
    height: auto;
}

.owl-theme .owl-nav [class*=owl-] {
    transition: all 0.3s ease;
}

#sync1.owl-theme {
    position: relative;
}

.project-info .project-info-content {
    padding: 20px;
}

.project-info .project-info-content .name {
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: capitalize;
    color: var(--dark-blue);
    margin-top: 0;
}

.project-info .project-info-content .detail {
    margin-bottom: 20px;
}

.project-info .project-info-content .detail .title {
    display: flex;
    align-items: center;
    color: var(--second-color);
    margin-bottom: 10px;
}

.project-info .project-info-content .detail .title .icon {
    margin-inline-end: 8px;
}

.project-info .project-info-content .detail .title>h4 {
    margin-bottom: 0;
    font-weight: 600;
}

.project-info .project-info-content .detail>h5 {
    color: var(--main-color);
}

.project-info .project-info-content .explain {
    line-height: 1.6;
    color: var(--main-color);
}


/* end project info */


/* end project info page */


/* start page 3 */

.samples {
    padding-block: 50px;
}

.samples .sample {
    box-shadow: 0 0 10px 1px rgb(0 0 0 / 8%);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 25px;
}

.samples .sample .image {
    width: 100%;
    height: 250px;
}

.samples .sample .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.samples .sample .desc {
    line-height: 1.6;
    color: var(--main-color);
}

.manage {
    padding-bottom: 45px;
}

.manage .description {
    line-height: 1.8;
    color: var(--main-color);
}

.manage .image {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    height: 230px;
}

.manage .image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

@media (max-width: 768px) {
    .samples .sample .image {
        margin-bottom: 25px;
    }
}


/* end page 3 */


/* start page four */

.sales {
    padding-block: 30px;
}

.sales .estate {
    padding-block: 25px;
}

.sales .estate .image-estate {
    width: 100%;
    height: 250px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
}

.sales .estate .image-estate img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.sales .estate .explan {
    line-height: 1.8;
    color: var(--hover-color);
}

@media (max-width: 768px) {
    .sales .estate .image-estate {
        margin-bottom: 20px;
    }
}


/* end page four */


/* start page five */

.contact-us {
    padding-block: 40px;
}

.contact-us .map {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.contact-us .contact {
    padding: 20px;
}

.contact-us .contact label {
    color: var(--main-color);
}

.contact-us .contact input {
    border-color: var(--second-color);
    caret-color: var(--second-color);
    color: var(--hover-color);
}

.contact-us .contact textarea {
    border-color: var(--second-color);
    caret-color: var(--second-color);
    resize: none;
    color: var(--hover-color);
}

.contact-us .contact input:focus,
.contact-us .contact textarea:focus {
    box-shadow: none;
    outline: none;
}

.contact-us .contact .send-btn {
    padding: 10px;
    width: 150px;
    display: block;
    text-align: center;
    background-color: var(--second-color);
    border: 2px solid var(--second-color);
    border-radius: 8px;
    color: #fff;
    margin-block: 10px;
    transition: var(--transition);
}

.contact-us .contact .send-btn:hover {
    background-color: #fff;
    color: var(--second-color);
}

@media (max-width: 768px) {
    .contact-us .map {
        margin-bottom: 25px;
        height: 350px;
    }
}


/* end page five */
